/*LOGIN*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #3498DB;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}



/*REGISTRATION*/
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
     height: 30px;
     width: 30px;
     border: 1px solid #C2C2C2;
     border-radius: 50%;
     font-weight: bold;
     line-height: 28px;
     text-align: center;
     font-size: 12px;
     float: right;
     position: absolute;
     right: -16px;
     top: 40%;
     z-index: 1;
     background: #DFDFDF;
 }
body{
    background-color: #b4c9dc;
}